contracts/.placeholder
test/.placeholder
build
node_modules
blockchain

# Configuration being sensitive is not commited
config

# OpenZeppelin 
# Commited all n/w except development
.openzeppelin/unknown-*.json
.notes